data
!jidenn/**
!docs/**
venv*
__pycache__
tf_dataset
tf_records
.DS_Store
logs
.vscode/*
rc.cache.*
*.log
*.swp
*.ipynb
*.out
good_logs
outputs
output
out
error
bash_scripts
data_for_plot
tmp
_*.py
_*.csv
tests
.pytest_cache
.vscode
*.root
**/*.root
raw
plots.md
test_venv
docker-fastjet