tensorflow==2.9.1
tensorflow-addons==0.17.1
tensorboard_plugin_profile==2.8.0
tensorflow_decision_forests==0.2.7
tensorflow_datasets==4.7.0
scikit_learn==1.1.2
uproot==4.3.3
vector==0.10.0
awkward==1.8.0
pandas==1.4.3
matplotlib==3.5.3
seaborn==0.11.2
typed-argument-parser==1.7.2
hydra-core==1.2.0
Jinja2==3.1.2
pydot==1.4.2