tensorflow 
tensorflow_decision_forests 
tensorflow-addons 
Jinja2 
tensorboard-plugin-profile 
tensorflow-datasets 
scikit-learn 
uproot 
vector 
awkward 
pandas 
matplotlib 
seaborn 
typed-argument-parser 
hydra-core 
pdoc3 
atlas-ftag-tools 
puma-hep 
atlasify 
pytest
